h1 {
    font-size: 60px;
    font-family: "Roboto Slab";
    color: #f9f9f9;
}

h5 {
    font-size: 20px;
    font-family: "Roboto Slab";
    color: #f9f9f9;
}

.streamInfoArea {
    margin: 10px;
    padding: 1rem;
    background-color: #1a1a1a;
    border-radius: 10px;

}
.infoHeader {
    padding-left: 1%;
    box-shadow: 0 8px 6px -6px #1affe8;
}

.infoBody {
    padding-left: 2%;

}

.streamContainer {
    display: flex;
    align-items: stretch;
    background-color: #131313;
    padding-bottom: 1rem;
    padding-top: 0.3rem;


}

.videoContainer {
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.streamVideo {
    /*margin-top: 1%;*/
    /*margin-bottom: 2%;*/
    background-color: #f9f9f9;
    border-radius: 30px;
    width: 1100px;
    height: 800px;
}


.streamChat {
    display: grid;
    background-color: #1a1a1a;
    width: 320px;
    height: 950px;
    top: 0;
    bottom: 0;
    border-radius: 10px;
    box-shadow: -30px 0px 40px -20px #131313;

}

.chatHeader {
    color: #f9f9f9;
    font-weight: 800;
    font-size: 30px;
    font-family: "Roboto Slab";
    height: 50px;
    background-color: #131313;
    justify-content: left;
    box-shadow: 0 8px 6px -6px #1affe8;
    display: flex;
    padding: 1px;
    align-items: center;

}

.chatTitle {
    width: 80%;
    justify-self: right;
    text-align: center;
}

.chatToggle {
    align-items: center;
    font-size: 20px;
    padding-left: 1rem;
}

.chatContent {
    height: 900px;
    width: 100%;


}

.userLogo{
    background-size: 100px;
    border-radius: 50%;

}

.infoStreamer{
    display: flex;
    align-items: center;
    border: solid 0.04px #595959;
    padding: 5px 5px 5px 20px;
    border-radius: 12px;


}

.isLive {
    width: 10px;
    height: 10px;
    border-radius: 90%;
    border: solid 0.01px #262626;
    background-color: #fc511d;
    box-shadow: 0 0px 5px 2px #fc511d;

}

.notLive {
    width: 10px;
    height: 10px;
    border-radius: 90%;
    border: solid 1px  #282828;
    background-color: #262626;
    box-shadow: 0 0px 5px 1px #595959;


}


.infoElement {
    margin-right: 30px;
}

.streamerStatus {
     /*stuff   */

}

.statusHeader {
    display: flex;
    align-items: center;
    justify-content: stretch;


}

.statusBottom {
    margin-top: -30px;

 }

p {
    color: #9c9c9c;
    font-family: "Roboto Slab";
}

.liveStats {
    justify-content: right;
    display: grid;
    align-items: stretch;
    background-color: transparent;
    width: 80%;
    margin: 0.8rem;

}

.topStats {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);
    grid-gap: 1rem;

}

.bottomStats {
    display: grid;
    align-items: center;
    justify-content: stretch;
    grid-auto-flow: column;
    grid-auto-columns: minmax(0, 1fr);


}

.totalViews {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-right: 0.4rem;

}

.liveViewers {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-right: 0.4rem;


}


.subscribers {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-right: 0.4rem;

}

.followers {
    display: flex;
    align-items: center;
    justify-content: stretch;
    margin-right: 0.4rem;

}

.attr {
    font-weight: 800;
    margin-right: 0.4rem;
}

